body{
    background-color: rgb(246, 238, 253);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: rgb(202, 16, 16);
}

header{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: rgb(202, 16, 16);
}

nav{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: rgb(202, 16, 16);
}

